<!-- Extenmd the base html page for each page to keep style consistent -->
{% extends "base.html" %}
<title>{% block title %}
    Dashboard
    {% endblock %}</title>

{% block content %}

<div class="container mt-5">
<h1> Welcome, {{ current_user.username }} </h1>
<div class="datetime">
    <span id="datetime">{{ current_datetime }}</span>
</div>
<div class="total-in-out">
    <div class="col-md-6">
        <h2>Total income and outcome</h2>
        <table class="table-striped">
            <thead>
            <tr>
                <th>Income</th>
                <th>Outcome</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {% for transaction in income_transactions %}
                        <div>{{ transaction.category }}: £{{ "%.2f"|format(transaction.amount|default(0.0)) }}</div>
                        {% endfor %}
                    </td>
                    <td>
                        {% for transaction in outcome_transactions %}
                        <div> {{ transaction.category }}: £{{ "%.2f"|format(transaction.amount|default(0.0)) }} </div>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <strong>Total Income: </strong> £{{ "%.2f"|format(total_income)}}
                    </td>
                    <td>
                        <strong>Total Outcome: </strong> £{{ "%.2f"|format(total_outcome)}}
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<!-- Display transactions -->
<div class="table">
    <div class="card-body">
        <h3 class="card-title">Your transactions</h3>
        <a href="{{ url_for('add_transaction') }}" class="btn btn-primary btn-sm">Add new transaction</a>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Kind</th>
            </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.date}}</td>
                    <td>{{ transaction.amount}}</td>
                    <td>{{ transaction.category }}</td>
                    <td>{{ transaction.kind.name }}</td>
                    <td>
                    <a href="{{ url_for('view_transaction', transaction_id = transaction.id) }}" class="btn btn-primary btn-sm">View</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Display refunds -->
<div class="table">
    <div class="card-body">
        <h2 class="card-title">Your refunds</h2>
        <a href="{{ url_for('add_refunds') }}" class="btn btn-primary btn-sm">Add new refund</a>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
                {% for refund in refunds %}
                <tr>
                    <td>{{ refund.date}}</td>
                    <td>{{ refund.amount}}</td>
                    <td>{{ refund.status.name }}</td>
                    <td>
                    <a href="{{ url_for('view_refund', refund_id = refund.id) }}" class="btn btn-primary btn-sm">View</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Display saving jars -->
<div class="table">
    <div class="card-body">
        <h2 class="card-title">Your saving jars</h2>
        <a href="{{ url_for('add_saving_jar') }}" class="btn btn-primary btn-sm">Add new saving jar</a>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Goal</th>
                <th>Current amount</th>
            </tr>
            </thead>
            <tbody>
                {% for jar in jars %}
                <tr>
                    <td>{{ jar.name }}</td>
                    <td>{{ jar.goal }}</td>
                    <td>{{ jar.current_amount }}</td>
                    <td>
                    <a href="{{ url_for('saving_jar', jar_id = jar.id) }}" class="btn btn-primary btn-sm">View</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>

{% endblock %}
