{% extends "base.html" %}

{% block title %}
Home - Track - Save - Buy
{% endblock %}

{% block content %}
<div class="text-center">
  <h1>Welcome to Track, Save and Buy!</h1>
  {% if current_user.is_authenticated %}
    <a href="{{ url_for('dashboard') }}" class="btn btn-dashboard">Go to Dashboard</a>
    <a href="{{url_for('logout')}}" class="btn btn-logout">Logout</a>
  {% else %}
    <a href="{{ url_for('register') }}" class="btn btn-register">Register as a new user</a>
    <a href=" {{ url_for('login') }}" class="btn btn-login">Login</a>
  {% endif %}
  <div class="image">
    <img src="{{url_for('static', filename='img/logo.png')}}" >
  </div>
</div>
 {% endblock %}
