{% extends "base.html" %}

{% block title %}
Home - Track - Save - Buy
{% end block %}

{% block content %}
<div class="text-center">
  <h1>Welcome to Track, Save and Buy!</h1>
  <p class="lead">Track all of your expenses in one place!
  Set saving goals, track refunds and so much more </p>
  {% if current_user.is_authenticated %}
    <a href="{{ url_for('dashboard') }}" class="btn btn-dashboard">Go to Dashboard</a>
  {% else %}
    <a href="{{ url_for('register') }}" class="btn btn-register">Register as a new user</a>
    <a href=" {{ url_for('login') }}" class="btn btn-login">Login</a>
  {% endif %}
</div>
 {% end block %}
