{% extends "base.html" %}
<title>{%block title%} Refund {% endblock %}</title>
{% block content %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Refund:</h5>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> {{ refund.date }} </td>
                    <td> {{ refund.amount }} </td>
                    <td> {{ refund.status.name }} </td>
                </tr>
            </tbody>
        </table>
    </div>
     <a href="{{ url_for('edit_entry', entry_type='refund', id = refund.id) }}" class="btn btn-primary btn-sm">Edit</a>
    <form action="{{url_for('delete_entry', entry_type = 'refund', id = refund.id )}}" method="POST" style="display:inline;">
        <button type="submit" class="delete-button btn-danger">Delete</button>
    </form>
</div>
{% endblock %}
